/WorkWebApp/obj/
/WorkWebApp/bin/
/WorkWebApp/idea/

/WorkWebApp.data/csproj/
/WorkWebApp.data/obj/
/WorkWebApp.data/bin/
/WorkWebApp.data/idea/
*.xml
*.iml
*.cache
*.cache
WorkWebApp.data/obj/Debug/net7.0/WorkWebApp.data.csproj.AssemblyReference.cache
*.json
*.editorconfig
*.csproj
WorkWebApp/bin/Debug/net7.0/WorkWebApp.dll
