<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WorkWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WorkWebApp.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/calendarStyle.css"/>
    <link rel="javascript" href="~/js/CalendarJS.js"/>
    <link rel="stylesheet" href="~/css/loginStyle.css"/>
    <link rel="stylesheet" href="~/css/ChangePasswordStyle.css"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
@if (ViewContext.RouteData.Values["page"].ToString() != "/login")
{
        <header>
            <!-- ... (Your nav header code) -->
        </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - WorkWebApp - <a asp-area="" asp-page="/clockin">Clock In</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>