@page
@model WorkWebApp.Pages.Administration

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <a asp-page="ChangePassword">Change an employee's passwprd</a>
</div>
</body>
</html>