@page
@model ClockInModel
@{
    ViewData["Title"] = "Clock In";
}
<h1>@ViewData["Title"]</h1>

<p>Her på siden skal man kunne stemple sig ind på arbejdet så timen bliver talt..</p>

<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
<form method="post">
    <table>
        <tr>
            <td><input type="submit" id="btnClockInTime" class="btn btn-success" value="Clock In" asp-page-handler="ClockInTime"/></td>
            <td><input type="submit" id="btnClockOutTime" class="btn btn-danger" value="Clock Out" asp-page-handler="ClockOutTime"/></td>
        </tr>
    </table>
</form>

@if (ViewData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert('@ViewData["Message"]');
            };
        </script>
}
</body>
</html>

<h2 style="color:crimson; background-color:darksalmon; padding:10px;">
    
</h2>