@page
@model WorkWebApp.Pages.DeleteShift

@{
    ViewData["Title"] = "Delete Shifts";
}
<h1>@ViewData["Title"]</h1>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
        <title>Index</title>
</head>
<body>

<form method="post">
    <div class="form-group">
        <label asp-for="RecordId"></label>
                <input asp-for="RecordId" />
    </div>
    <button type="submit">Delete</button>
</form>



</body>
</html>