@page
@model EmployeesModel

<h1>Users</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var employee in Model.Users)
    {
        <tr>
            <td>@employee.firstname</td>
            <td>@employee.lastname</td>
        </tr>
    }
    </tbody>
</table>