@page "/home"
@using Npgsql.EntityFrameworkCore.PostgreSQL.Infrastructure.Internal
@model IndexModel
@{
    ViewData["Title"] = "Forside";
}

<div class="text-center">
    <h1 class="display-4">Welcome @User.Identity.Name</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-page="/Login" class="logout-btn">Log ud</a>
</div>

