@page
@model ScheduleModel
@{
    ViewData["Title"] = "Vagtplan";
}
<h1>@ViewData["Title"]</h1>

<p>Siden her skal vise vagtplanen for selve dagen, og brugerens vagter for en specifik periode...</p>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <a href="@Url.Content("shift/create")"><button class="btn btn-primary">Create a new shift</button></a>

        </div>
    </div>
</div>